body {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: whitesmoke ;
}
h1 {
    color: black;
    background-color: paleturquoise;
    padding: 1.5rem;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center; 
    border-radius: 10px; 
  }

  p {
    color: darkslategray;
    background-color: pink;
    margin: 1.5rem;
    line-height: 1.5rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    font-family: monospace;
    border-radius: 10px; 
}

header, footer {
    margin: 0;
}
:link {
    align-content: center;
}
a:link { 
    color: black
}
a:visited {
    color: darkmagenta
}
a:hover {
    color: palevioletred
}
a:active { 
    color: rebeccapurple
}