body {
background-color: rgb(250, 230, 233);
margin: 0;
}
h1{
    text-align: center;
}
header {
    background-color: darkgrey;
    color: white;
    padding: 2rem;
    text-align: left;
}
main {
    border: 3px solid grey;
}
article {
    background-color:white;
    border: 1px solid grey;
    border-radius: .8rem;
    padding: 1.3rem;
    margin: 0.5rem;
    margin-bottom: 1.5rem;
}
footer {
    background-color: darkgrey;
    color: white;
    padding: 1rem;
    text-align: center;
}
a:link { 
    color: black;
}
a:hover {
    color: pink;
}
